% -*- mode: erlang; -*- vim: set ft=erlang:
[
    {config, [
        #{
            files => ["src/**/*.erl"],
            ruleset => erl_files
        },
        #{
            files => ["test/**/*.erl"],
            ruleset => erl_files
        },
        #{
            files => ["rebar.config", "elvis.config"],
            ruleset => rebar_config
        }
    ]}
].
