{erl_opts,
 [%bin_opt_info,
  debug_info,
  warn_export_all,
  warn_export_vars,
  %warn_missing_spec,
  warn_obsolete_guards,
  warn_shadow_vars,
  warn_unused_import
  %warnings_as_errors
  ]}.

{deps,
 [{cowboy, "1.1.2"},
  {hackney, "1.8.6"},
  {unistring, ".*", {git, "https://github.com/rambocoder/unistring.git", {ref, "5ace62a26a950bc717a0e95f8dbc8846027b9a93"}}}
  %{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.2"}}}
 ]}.

{relx,
[{release, {backwater, {semver, ""}}, [backwater]},
 {sys_config, "./config/sys.config"},

 {dev_mode, true},
 {include_erts, false},
 {system_libs, false},

 {generate_start_script, true},
 {extended_start_script, true},

 {overlay,
  [{template, "config/sys.config", "releases/{{release_version}}/sys.config"}]}
]}.

{profiles,
 [{local,
   [{deps,
     [{recon, "2.3.2"}
     ]},
    {plugins,
     [rebar3_run]},
    {relx,
     [{overlay_vars, "config/overlays/local/vars.config"}]}
   ]}

  %{publish,
  % [{plugins, [rebar3_hex]}]}
 ]}.

{dialyzer,
 [{plt_include_all_deps, true},
  {warnings,
   [unmatched_returns,
    error_handling,
    race_conditions,
    underspecs
   ]}
 ]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions]}.

{cover_enabled, true}.
