{cover_enabled, true}.

{erl_opts,
 [%bin_opt_info,
  warn_export_all,
  warn_export_vars,
  warn_missing_spec,
  warn_obsolete_guards,
  warn_shadow_vars,
  warn_unused_import,
  warnings_as_errors
  ]}.

{plugins, [rebar3_hex]}.

{deps,
 [{cowboy, "2.2.2"},
  {hackney, "1.11.0"}
 ]}.

{dialyzer,
 [{plt_include_all_deps, true},
  {warnings,
   [unmatched_returns,
    error_handling,
    race_conditions,
    underspecs
   ]}
 ]}.

{plugins, [rebar3_hex]}.

{minimum_otp_vsn, "19"}.

{profiles,
 [{development,
   [{erl_opts,
     [nowarnings_as_errors]},
    {xref_checks,
     [undefined_function_calls,
      undefined_functions,
      locals_not_used,
      exports_not_used,
      deprecated_function_calls,
      deprecated_functions]}
   ]},

  {test,
   [{erl_opts,
     [debug_info,
      nowarn_export_all,
      nowarn_missing_spec,
      nowarnings_as_errors]}
   ]},

  {travis_test,
   [{erl_opts,
     [{d, 'RUNNING_ON_TRAVIS_CI'},
      debug_info,
      nowarn_export_all,
      nowarn_missing_spec,
      nowarnings_as_errors]}
   ]}
 ]}.
