{cover_enabled, true}.

{erl_opts,
 [%bin_opt_info,
  warn_export_all,
  warn_export_vars,
  warn_missing_spec,
  warn_obsolete_guards,
  warn_shadow_vars,
  warn_unused_import,
  warnings_as_errors,
  {platform_define, "^2[1-9]", 'POST_OTP_20'},
  {platform_define, "^[3-9]", 'POST_OTP_20'}
  ]}.

{deps,
 [{cowboy, "2.6.1"},
  {hackney, "1.15.0"}
 ]}.

{dialyzer,
 [{plt_extra_apps,
   [cowlib,
    public_key,
    ranch,
    ssl
   ]},
  {warnings,
   [unmatched_returns,
    error_handling,
    race_conditions,
    underspecs,
    unknown
   ]}
 ]}.

{minimum_otp_vsn, "19"}.

{profiles,
 [{development,
   [{erl_opts,
     [nowarnings_as_errors]},
    {xref_checks,
     [undefined_function_calls,
      undefined_functions,
      locals_not_used,
      exports_not_used,
      deprecated_function_calls,
      deprecated_functions]}
   ]},

  {publishing,
   [{plugins,
     [{rebar3_hex, "6.4.0"}
     ]}
   ]},

  {test,
   [{erl_opts,
     [debug_info,
      nowarn_export_all,
      nowarn_missing_spec,
      nowarnings_as_errors]}
   ]},

  {travis_test,
   [{erl_opts,
     [{d, 'RUNNING_ON_TRAVIS_CI'},
      debug_info,
      nowarn_export_all,
      nowarn_missing_spec,
      nowarnings_as_errors]}
   ]}
 ]}.
