[
 {rpcaller,
  [
   {clients,
    #{ ref =>
            #{ endpoint => "http://localhost:8080/rpcall",
               timeout => 5000,
               decode_unsafe_terms => true,
               rethrow_remote_exceptions => true,
               authentication => {"username", #{ signing => {"hmac-sha256", "superdirtysecret"} } }
             }
     }},

   {servers,
    #{ ref =>
        #{ cowboy =>
            #{ protocol => http, % | https | spdy
               number_of_acceptors => 100,
               transport_options => [{port, 8080}],
               protocol_options => []
             },

           unauthenticated_access =>
                #{ decode_unsafe_terms => true,
                   exposed_modules => [test_exposed_module, test_exposed_module2],
                   return_exception_stacktraces => true
                 },

           authenticated_access =>
                #{ "username" => % 'username' is of no consequence if no secret is defined
                        #{ signing => {"hmac-sha256", "superdirtysecret"},
                           decode_unsafe_terms => true,
                           exposed_modules => [test_exposed_module]
                         }
                 }
         },

        "yessss" =>
            #{ cowboy => #{ transport_options => [{port, 8081}] },
               unauthenticated_access =>
                    #{ exposed_modules => [] } }
     }}
  ]
 }
].
