[
 {backwater,
  [
   {clients,
    #{ ref =>
            #{ endpoint => <<"http://localhost:8080/rpcall">>,
               connect_timeout => 5000,
               receive_timeout => 5000,
               %decode_unsafe_terms => true,
               rethrow_remote_exceptions => true,
               authentication => {basic, {<<"username">>, <<"password">>}}
             }
     }},

   {servers,
    #{ ref =>
        #{ cowboy =>
            #{ protocol => http, % | https
               number_of_acceptors => 100,
               transport_options => [{port, 8080}],
               protocol_options => []
             },

           unauthenticated_access =>
                #{ decode_unsafe_terms => true,
                   exposed_modules => [test_exposed_module, test_exposed_module2],
                   return_exception_stacktraces => false
                 },

           authenticated_access =>
                #{ <<"username">> =>
                        #{ authentication => {basic, <<"password">>},
                           decode_unsafe_terms => true,
                           exposed_modules => [test_exposed_module, test_exposed_module2]
                         }
                 }
         },

        "yessss" =>
            #{ cowboy => #{ transport_options => [{port, 8081}] },
               unauthenticated_access =>
                    #{ exposed_modules => [] } }
     }}
  ]
 }
].
