[
 {backwater,
  [
   {clients,
    #{ ref =>
            #{ endpoint => <<"http://localhost:8080">>,
               connect_timeout => 5000,
               receive_timeout => 5000,
               decode_unsafe_terms => true,
               rethrow_remote_exceptions => true,
               authentication => {signature, <<"key">>}
             }
     }},

   {servers,
    #{ ref =>
        #{ authentication => {signature, <<"key">>},
           decode_unsafe_terms => true,
           return_exception_stacktraces => true,
           exposed_modules =>
                [test_exposed_module,
                 {erlang, [{exports, all}]},
                 test_exposed_module2],

           % cowboy options
           transport => clear, % | tls
           transport_options => [{port, 8080}],
           protocol_options => #{}
         }
     }}
  ]
 }
].
